:root {
  --gradient-color : black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

header {
  display:flex;
  flex-direction: column;
  
}

.App {
  text-align: center;
}

body {
  background-color:var(--gradient-color);
}

header {
  width:100%;
  background-image: url("./img/imgNavBar/navBar.jpg");
  background-position: center;
	background-attachment: contain;
	background-size: cover;
  height: 95vh;
  position: relative;
}

.navBar {
  background-color: transparent;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  
}



.navBar ul li {
  list-style: none;
  margin:20px;
}

.navBar ul li a {
  list-style: none;
  margin:20px;
  cursor: pointer;
  font-size: 20px;
  color: #fafafa;
  text-decoration: none;
  transition: 0.3s;
}

ul li a:hover {
  text-shadow: 1px 1px 1px #fff;
}

li {
  float: left;  
}

.gradient {
  background: linear-gradient(to bottom, transparent 0%, var(--gradient-color) 100%);
  width: 100%;
  padding:40px;
  position:absolute;
  bottom: 0;
}

.header-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10%;
  color: #fafafa;
  

}

h1 {
  font-size: 50px;
  text-shadow: 1px 1px 1px black;
}

p {
  font-size: 30px;
  text-shadow: 1px 1px 1px black;
}